@model CheckBoxListInAspNetMVC.Models.Student

@{
    ViewBag.Title = "Details";
}

<style>
    ul {
        padding-left: 17px;
    }
</style>

<h3>Details | Student</h3>
<hr />

<div>
    
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department.Name) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt>
            Courses :
        </dt>
        <dd>
            <ul>
                @foreach (var item in Model.Courses)
                {
                    @:<li>@item.Name</li> 
                }
            </ul>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
