@model CheckBoxListInAspNetMVC.Models.Department

@{
    ViewBag.Title = "Edit";
}

<h3>Edit | Department</h3>
<hr />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="input-group" style="width: 100%">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "input-group-addon" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" }})
        </div>
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        <br/>
        <div class="input-group">
            
            <label class="input-group-addon">Course</label>
          
            <div class="form-control">
                @{
                    var count = Enumerable.Count(ViewBag.AllCourses);
                    foreach (var course in ViewBag.AllCourses)
                    {

                        <input type="checkbox" name="selectedCourses" value="@course.Id"
                               @if (Model.Courses.Any(p => p.Id == course.Id))
                               {
                                   <text> Checked</text>
                               }/>
                        @course.Name
                        if (--count > 0)
                        {
                            @:|
                        }
                    }
                }


            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Save" class="btn btn-default" /> | 
                <span>
                        @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-default" })
                </span>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
